<head>
<style>
body {
    background-color: #E1E1E1;
}

p {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    background-color: #6e1418;
    width: 80%;
    color: #E1E1E1;
    font-family: TimesNewRoman, serif;
    padding: 8px;
}

h2, h3, h4 {
    font-family: TimesNewRoman, serif;
    color: #6e1418 ;
}

.sidebar {
    margin: 0px 10px 0px 10px;
    float: left;
    width: 25%;
}

.main {
    margin: 0px 10px 0px 10px;
    width: 50%;
    float: left;
}

.fake-link {
    color: blue;
}
</style>
</head>
<body>
<h1>Edit <%= @novel.title %></h1>

<div class="sidebar">
<p><a href="/novels/new">Create a Novel</a><br>
<sup>no more novels you are CRUEL and UNJUST</sup></p>
<p><a href="/novels">All Novels</a><br>
<sup>Look at them. Look how many there are.</sup></p>
<p class="fake-link">Edit Profile</p>
<p class="fake-link">What Is A Trope?</p>
<p class="fake-link">TVTropes</p>
<% if !!logged_in? %>
<p><a href="/logout">Log Out</a></p>
<% else %>
<p><a href="/login">Log In</a></p>
<% end %>
</div>

<div class="main">
<form method=POST action="/novels/<%= @novel.slug %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<p><strong>Title:</strong> <input type="text" name="novel[title]" id="novel_title" value="<%= @novel.title %>"></p>

<p><strong>Genre:</strong> <input type="text" name="novel[genre]" id="novel_genre" value="<%= @novel.genre %>"></p>
<p><strong>Word Count:</strong> <input type="text" name="novel[word_count]" id="novel_word_count" value="<%= @novel.word_count %>"></p>


<button type="submit">Update Novel Details</button>
</form>

<form method=POST action="/novels/<%= @novel.slug %>">
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Novel">
</form>
</div>

</body>