<head>
<style>
body {
    background-color: #E1E1E1;
}

p {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    background-color: #6e1418;
    width: 80%;
    color: #E1E1E1;
    font-family: TimesNewRoman, serif;
    padding: 8px;
}

h2, h3, h4 {
    font-family: TimesNewRoman, serif;
    color: #6e1418 ;
}

.sidebar {
    margin: 0px 10px 0px 10px;
    float: left;
    width: 25%;
}

.main {
    margin: 0px 10px 0px 10px;
    width: 50%;
    float: left;
}

.fake-link {
    color: blue;
}
</style>
</head>
<body>
<h1><%= @novel.title %></h1>
<div class="sidebar">
<p><a href="/novels">All Novels</a></p>
<p><a href="/users/<%= @user.id %>">View Profile</a></p>
<p class="fake-link">Edit Profile</p>
<p class="fake-link">What Is A Trope?</p>
<p class="fake-link">TVTropes</p>
<p><a href="/logout">Log Out</a></p>
</div>

<div class="main">
<h3><%= @novel.genre.upcase %> -- <em><%= @novel.word_count %> words</em></h3>
<p><%= @novel.synopsis %></p>

<h3><a href="/novels/<%= @novel.slug %>/characters">Cast List</a></h3>

<br>

<p>Oh my lord why did I make this so complicated.</p>

<% if @novel.user_id == @user.id %>
<p><a href="/novels/<%= @novel.slug %>/characters/new">Create or Add To a Cast</a></p>

<p><a href="/novels/<%= @novel.slug %>/edit">Edit Novel</a></p>
<% end %>

</div>
</body>