<head>
</head>


<body>
<form method=POST action="/characters">
<p><strong>Name: </strong><input type="text" id="name" name="character[name]"></p>

<p><strong>Novels:</strong></p>
<% @novels.each do |novel| %>
<input type="radio" id="<%= novel.id %>" name="<%= novel.id %>"> <%= novel.name %> 
<% end %>

<input type="radio" name="novel[title]" id="novel_title"> New Novel

<p><strong>New Novel:</strong> <input type="text" id="novel_title" name="novel[title]"></p>

<p><strong>Tropes:</strong></p>
<% @tropes.each do |trope| %>
<input type="checkbox" id="<%= trope.id %>" name="trope[name]"> <%= trope.name %> 
<% end %>

<p><strong>New Trope: </strong><input type="text" id="trope_name" name="trope[name]"></p>

<input type="submit" name="submit" value="Create Character">
</form>
</body>

