<head>
<style>
body {
    background-color: #E1E1E1;
}

p {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    background-color: #6e1418;
    width: 80%;
    color: #E1E1E1;
    font-family: TimesNewRoman, serif;
    padding: 8px;
}

h2 {
    font-family: TimesNewRoman, serif;
    color: #6e1418 ;
}

h4 { 
    font-family: TimesNewRoman, serif;
color: #6e1418 ;
}

.sidebar {
    margin: 0px 10px 0px 10px;
    float: left;
    width: 25%;
}

.main {
    margin: 0px 10px 0px 10px;
    width: 50%;
    float: left;
}

.fake-link {
    color: blue;
}
.error {
    color: red;
    font-weight: bold;
}
</style>
</head>


<body>
<h1>Create a Character for <%= @novel.title %></h1>
<div class="sidebar">
<p><a href="/novels/<%= @novel.slug %>">Novel Profile</a></p>
<p><a href="/users/<%= @novel.user_id %>">My Profile</a></p>
<p class="fake-link">Edit Profile</p>
<p class="fake-link">What Is A Trope?</p>
<p class="fake-link">TVTropes</p>
<p><a href="/logout">Log Out</a></p>
</div>

<div class="main">
<form action="/novels/<%= @novel.slug %>/characters" method=POST>
<p><strong>Name:</strong> <input type="text" name="name" id="name"></p>
<p><strong>Description:</strong><br>
<textarea type="text" name="descrip" id="descrip" cols=50 rows=15>Write a short description of your character here.</textarea></P>

<p><strong>Tropes:</strong></p>
<% @tropes.each do |trope| %>
<input type="checkbox"  name="trope_ids[]" id="<%= trope.id %>" value="<%= trope.id %>"> <%= trope.name %> - <%= trope.descrip %> <br>
<% end %>
<br>

<input type="submit" value="Create Character">
</form>
</div>
</body>

